<section id="partnerHeaderList-section" class="fgta5-carousell" data-title="Partner">
<%- include(`${moduleDir}/partnerHeaderList.html`) %>
</section>

<section id="partnerHeaderEdit-section" class="fgta5-carousell" data-title="Edit Partner">
<%- include(`${moduleDir}/partnerHeaderEdit.html`) %>
</section>

<section id="partnerBankList-section" class="fgta5-carousell" data-title="List Bank">
<%- include(`${moduleDir}/partnerBankList.html`) %>
</section>

<section id="partnerBankEdit-section" class="fgta5-carousell" data-title="Edit Bank">
<%- include(`${moduleDir}/partnerBankEdit.html`) %>
</section>

<section id="partnerContactList-section" class="fgta5-carousell" data-title="List Contact">
<%- include(`${moduleDir}/partnerContactList.html`) %>
</section>

<section id="partnerContactEdit-section" class="fgta5-carousell" data-title="Edit Contact">
<%- include(`${moduleDir}/partnerContactEdit.html`) %>
</section>



<section id="fRecord-section" class="fgta5-carousell" data-title="Record Status">

	<div name="panel">
		<div name="row">
			<span name="caption">Id</span>
			<span name="value" id="fRecord-section-id">-</span>
		</div>
	</div>	


	<div name="panel">
		<!-- LEFT: Standard Info -->
		<div name="column">
			<div name="row">
				<span name="caption">Create By</span>
				<span name="value" id="fRecord-section-createby">-</span>
			</div>
			<div name="row">
				<span name="caption">Create Date</span>
				<span name="value" id="fRecord-section-createdate">-</span>
			</div>
			<div name="row">
				<span name="caption">Modify By</span>
				<span name="value" id="fRecord-section-modifyby">-</span>
			</div>
			<div name="row">
				<span name="caption">Modify Date</span>
				<span name="value"id="fRecord-section-modifydate">-</span>
			</div>

		</div>


		<!-- RIGHT: Extended Info -->
		<div name="column" exteder>
		<%- include(`${moduleDir}/partner-ext-record.html`) %>	
		</div> 

	</div>	
</section>

<section id="fLogs-section" class="fgta5-carousell" data-title="Logs">
<%- include(`${moduleDir}/partner-logs.html`) %>	
</section>

<section id="fAbout-section" class="fgta5-carousell" data-title="About">
<%- include(`${moduleDir}/partner-ext-about.html`) %>	
</section>


